<div class="container">	
	<div style="margin-top:80px; margin-bottom:31px">
		
		<div style="width:49%; float:left; text-align:center">	
			<img src="/assets/Logo v3 transparent.png" alt="Logo" >
		</div>
		<div style="width:49%; height:405px; float:right; font-size:0; text-align:center">
			<span style="height:100%; display:inline-block; vertical-align:middle"></span>
			<h1 style="display:inline-block; vertical-align:middle; font-family:Franklin Gothic Book, 'franklin_gothic_bookregular', sans-serif; font-size:88px; color:#ccc">Welcome.</h1>
		</div>

	</div>
</div>

<div style="width:100%; line-height:88px; background-color:#ccc; text-align:center">
	<%= link_to "Request a trial", '#', class: "btn btn-large btn-primary", style: "vertical-align:middle" %>
</div>

<!--<div class="container" style="margin-top:39px; margin-bottom:39px; text-align:center">	
	<img src="/assets/Landing page letter v1.png" alt="Letter from John Hartsfeld" >
</div>-->
