<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>display tables</h1>
<table>                         
  <tr>                          
    <th>field1</th>
  </tr>
<% @results.each do |data| %>       #start loop
  <tr>
    <td><%= data.debtor %></td>  #column field1 in your database
  </tr>
  <tr>
  	@results
  </tr>
<% end %>
</table> 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>