<% provide(:title, "Welcome back.") %>

<div class="container">	
	
	<div style="margin-top:50px; margin-bottom:31px">
		
		<div style="width:26%; float:left; text-align:center">	
			<img src="/assets/Logo v3 transparent small.png" alt="Logo" >
		</div>
		<div style="width:72%; height:200px; float:right; font-size:0; text-align:center">
			<span style="height:100%; display:inline-block; vertical-align:middle"></span>
			<h1 style="display:inline-block; vertical-align:middle; font-family:Franklin Gothic Book, 'franklin_gothic_bookregular', sans-serif; font-size:63px; color:#ccc">Welcome back, <%= current_user.fname %>. </h1>
		</div>

	</div>

	<form style="margin-bottom:35px; text-align:center">
		<input type="text" placeholder="Enter the name of a debtor, such as &quot;Hostess&quot;." class="input-block-level" id="search">
		<button style="margin:0" type="submit" class="btn btn-medium btn-primary">Search</button>
	</form>

	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

		<div style="border:3px solid yellow" class="box col3">

			<div style="border:3px solid pink" class="box col1">
				<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
			</div>

			<div style="border:3px solid green" class="box col2">
				<p><a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a></p>
			</div>

		</div>

	</div>