/* BOOTSTRAP OVERRIDES */

/* primary button */
$btnPrimaryBackground:          #6959af !default;
$btnPrimaryBackgroundHighlight: adjust-hue($btnPrimaryBackground, 20%) !default;
$btnBorder:#fff;

/* font */
$sansFontFamily:                Arial, sans-serif !default;

/* END BOOTSTRAP OVERRIDES */

/*@import "bootstrap";*/
@import "bootstrap";
@import "bootstrap-glyphicons";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
  background-color: #000028;
}

div {
  overflow: hidden;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  margin:0;
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Typeahead.js dropdown menu */
.tt-dropdown-menu {
  background-color:#fff;
  border-radius:4px;
  color: #7f7f7f;
  font-size: 12px;
  margin-top: 6px;
  text-align:left;
}
.tt-dataset-Debtors {
}
/*.tt-hint {
  background-color:transparent;
  color:pink;
  height: 30px;
  z-index:9999999999999999;
  position: absolute;
  top: 0px;
  left: 0px;
  border-color: transparent;
  box-shadow: none;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
}*/

/* BOOTSTRAP OVERRIDES */

/* input fields */
select, textarea, input[type="text"], input[type="password"] {
  height: 12px !important;
  line-height: 12px !important;
  margin: 0px 0px 3px 0px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  background-color: #ccc !important;
  color: #7f7f7f;
}

/* navbar */

/* navbar color & height */
.navbar-inverse .navbar-inner {
  background-color: #000028;
  background-image: none;
  border: none;
  box-shadow: none;
  /*height: 40px;*/
}

/* navbar font color */
.navbar .nav > li > a {
  color: #ccc;
}

/* sign-in boxes' labels */
label, input, button, select, textarea {
  line-height: 12px;
  margin: 3px 0px 0px 0px;
  font-size: 12px;
}

/* sign-in boxes' input fields */
#sign-in {
  width: 133px;
  margin: 0px 0px 3px 0px;
  font-size: 12px;
}

/* sign-in button */
.navbar .btn, .navbar .btn-group {
  margin: 0px 0px 0px 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* search field */
#free_trial_field {
  /*input-block-level class from Bootstrap 2*/
  display: block !important;
  width: 100% !important;
  min-height: 30px !important;
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
  /*END input-block-level class from Bootstrap 2*/
  /*override typeahead.js / form_for*/
  border-color: #ccc !important;
  display: inline-block !important;
  vertical-align: middle !important;
  /*END override typeahead.js / form_for*/
  margin: 0px 0px 8px 0px !important;
  background-color: #fff !important;
  font-size: 15px !important;
}

/* search button */
#free_trial_button {
  /*override typeahead.js / form_for */
  background-color: #7459AF !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  /*END override typeahead.js / form_for */
}

/* search field */
#search_field {
  /*input-block-level class from Bootstrap 2*/
  display: block !important;
  width: 100% !important;
  min-height: 30px !important;
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
  /*END input-block-level class from Bootstrap 2*/
  /*override typeahead.js / form_for*/
  border-color: #ccc !important;
  display: inline-block !important;
  vertical-align: middle !important;
  /*END override typeahead.js / form_for*/
  background-color: #fff !important;
  margin: 0px !important;
  font-size: 15px !important;
}

/* search button */
#search_button {
  /*override typeahead.js / form_for */
  background-color: #7459AF !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  /*END override typeahead.js / form_for */
}

/* END BOOTSTRAP OVERRIDES */

/*data tables*/
td.data_cells {
  font-size: 12px;
  text-align: left;
}

td.data_cells-left {
  vertical-align: top;
}

td.data_cells-right{
  padding-left: 20px;
}

.glyphicon-info-sign {
  color: #cc5314;
}

.tooltip-inner{
  background-color: #fff;
  color: #000;
  text-align: left;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #cc5314;
  background-color: #fff;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #cc5314;
  background-color: #fff;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #cc5314;
  background-color: #fff;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #cc5314;
  background-color: #fff;
}
/*END data tables*/

/*box-and-whisker plots*/
.box {
  display: block;
  border-bottom: 1px solid #e9e9e9;
}

.bw_plot {
  stroke: #7f7f7f;
  stroke-width: 2;
}
.bw_plot-dash {
  stroke-dasharray: 3, 3;
}

.sale {
  fill: #3d3d99;
  /*shape-rendering: crispEdges;*/
}

.title {
  fill: #7f7f7f;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
}
/*END normal distribution plots*/

/*force plot*/
rect {
  fill: white;
}

circle {
  fill: white;
  stroke: #7f7f7f;
  stroke-opacity: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #7f7f7f;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #7f7f7f;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.sale_details {
  position: absolute;
  width: 200px;
  background-color: white;
  border: 1px solid #7f7f7f;
  pointer-events: none;
}

.legend {
  fill: #7f7f7f;
  font-family: Arial, sans-serif;
  font-size:11px;
}

/*END force plot*/

/*pie chart*/
.chart3_backgroundarc {
  fill: #fff;
  opacity: 0;
}

.chart3_bigtext {
  fill: #7f7f7f;
  font-family: Franklin Gothic Book, 'franklin_gothic_bookregular', sans-serif;
  font-size: 88px;
  text-anchor: middle;
}

.chart3_mediumtext {
  fill: #7f7f7f;
  font-family: Franklin Gothic Book, 'franklin_gothic_bookregular', sans-serif;
  font-size: 63px;
  text-anchor: middle;
}

.chart3_smalltext {
  fill: #7f7f7f;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-anchor: middle;
}

#sale_details3 {
  top: 176px;
  left: 342.176px;
  background: rgba(255,255,255,0);
  border: none;
  font-size: 11.5px;
  line-height: 13px;
}
/*END pie chart*/