@font-face {
  font-family: 'franklin_gothic_bookregular';
  src: font-url('frabk-webfont.eot');
  src: font-url('frabk-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('frabk-webfont.woff') format('woff'),
       font-url('frabk-webfont.ttf') format('truetype'),
       font-url('frabk-webfont.svg#franklin_gothic_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franklin_gothic_demiregular';
  src: font-url('fradm-webfont.eot');
  src: font-url('fradm-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('fradm-webfont.woff') format('woff'),
       font-url('fradm-webfont.ttf') format('truetype'),
       font-url('fradm-webfont.svg#franklin_gothic_demiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       font-url('glyphicons-halflings-regular.woff') format('woff'),
       font-url('glyphicons-halflings-regular.ttf') format('truetype'),
       font-url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}